@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    background-color: white;
    color: rgb(190, 0, 0);
    font-family: 'Poppins', sans-serif;
}
.pizda {
    background-color: rgb(194, 10, 10);
    color: rgb(40, 234, 215);
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand-name {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

#brand-name:hover {
    color: grey;
    transition: color 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a.active {
    color: #555;
    font-weight: bold;
}

nav ul li a:hover {
    color: grey;
    transition: color 0.3s ease-in-out;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.photo-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 411px;
}

.photo-column img {
    /* max-width: 300px; */
    width: 100%;
    height: auto;
}




#gif-background {
    /* background-image: url(photos/background-ezgif.com-video-to-gif-converter.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* opacity: 0.9; */
    height: 100vh;
    /* width: 100vw;
    position: fixed; */
    /* top: 0; */
    /* left: 0; */
    z-index: -1;
 /* !!!проба нормально поставити гіфку!!!  */
    width: 0vw;      
    position: absolute;
    left: 25%;
}



.cover-image,
.hover-image {
    position: relative;
    /* Або просто видаліть цей рядок */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 1, 1);
}

.hover-image {
    position: absolute;
}

.hover-image {
    opacity: 0;
}


.gallery-cover {
    position: relative;
    cursor: default;
    width: 411px;
    height: auto;
    /* Переконайтеся, що ця висота достатня для ваших зображень */
}

.gallery-popup {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 10;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 20px;
}

.align-center{
    align-items: center;
}

.gallery-popup-item {
    max-height: 100%;
    max-width: 100%;
}
.one-item-gallery {
    max-height: 70%;
    max-width: 70%;
    position: relative;

}
/* 158-165 для однієї фотки по центру !  158-165 для однієї фотки по центру */
.mainingrid{
    width: 530px;
}

.hui{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    /* padding-top: 20px; */
}


.gallery-popup .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    color: white;
}





/* =============================================================== */
/* for all changeble photo we should create pair of hover->opacity */
/* id:hover .cover-image.... */
/* id:hover .hover-image.... */

#rubik:hover .cover-image {
    opacity: 0;
}

#rubik:hover .hover-image {
    opacity: 1;
}


#rubik1:hover .cover-image {
    opacity: 0;
}

#rubik1:hover .hover-image {
    opacity: 1;
}


#move:hover .cover-image {
    opacity: 0;
}

#move:hover .hover-image {
    opacity: 1;
}


#handOfGod:hover .cover-image {
    opacity: 0;
}

#handOfGod:hover .hover-image {
    opacity: 1;
}


#enterTheVoid:hover .cover-image {
    opacity: 0;
}

#enterTheVoid:hover .hover-image {
    opacity: 1;
}


#blueRoom:hover .cover-image {
    opacity: 0;
}

#blueRoom:hover .hover-image {
    opacity: 1;
}




/* Initial state of content */
.gallery-container {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* Fade-out state */
.fade-out {
    opacity: 0;
}

/* Fade-in state */
.fade-in {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
